body{
    background-color: white;
}

.calcula{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    width: 500px;
    height: 600px;
    background-color: white;
    box-shadow: 0 0 11px 1px #00000046;
    border-radius: 10px;
}

.linha1{
    height: 150px;
    background-color: white;
    border-radius: 10px;
}
.linha2{
    border: white solid 2px ;
    height: 90px;
    background-color: rgba(156, 156, 156, 0.322);
    border-radius: 10px;
    padding: 0px;
}

.botao{
    width: 100%;
    height: 100%;
    background-color: rgba(156, 156, 156, 0.322);
    border-color:transparent;

}
.label{
  
    font-size: 30px;
    display: flex;
 
    align-items: center;

    position: absolute;
    top: 0px;
    left: 10px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    color: rgb(104, 104, 104) ;
  
}