body{
    background-color: white;
}

.calcula{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    width: 500px;
    height: 600px;
    background-color: white;
    box-shadow: 0 0 11px 1px #00000046;
    border-radius: 10px;
}

.linha1{
    height: 150px;
    background-color: white;
    border-radius: 10px;
}
.linha2{
    border: white solid 2px ;
    height: 90px;
    background-color: rgba(156, 156, 156, 0.322);
    border-radius: 10px;
    padding: 0px;
}

.botao{
    width: 100%;
    height: 100%;
    background-color: rgba(156, 156, 156, 0.322);
    border-color:transparent;

}
.campo{
  
    font-size: 30px;
    display: flex;
 
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    color: rgb(104, 104, 104) ;
    border-color: transparent;
    border-radius: 10px;
    padding-left: 15px;
   
}

.tela{
    width: 300px;
    height: 500px;
    background:white;
    position: absolute;
    display: flex;
    float: right;
    margin: auto;
    left: 550px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    box-shadow: 0 0 11px 1px #00000046;
    border-radius: 10px;
}